<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <style type="text/css">.row > div {
      border: 1px solid #333;
      overflow-y: hidden;
      height: 100%;
    }

    {% for row in rows %}
    .row.{{ row.name|slugify }} {
      height: {{ row.height }}%;
    }
    {% endfor %}

    </style>
  </head>
  <body>
    <div class="container-fluid">
      {% for row in rows %}
      <div class="row {{ row.name|slugify }}">
        <div class="col-xs-12">{{ row.render }}</div>
      </div>
      {% endfor %}
      <!-- div class="row half">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
      </div -->
    </div>
  </body>
</html>