{% load mathfilters %}
<div id="rss-one-line">
  <div id="rss-one-line-{{ object.name|slugify }}" class="carousel slide carousel-fade" data-ride="carousel"
       data-interval="{{ object.feed_interval|mul:1000 }}" data-pause="null">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for entry in feed_content.entries %}
        {% if entry.summary %}
          <li class="item {% if forloop.first %}active{% endif %}">
            <span class="entry-title">{{ entry.title }}</span>
            <span class="entry-summary">{{ entry.summary }}</span>
          </li>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        $("#rss-one-line-{{ object.name|slugify }}").carousel();
    });
</script>