<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/carousel_fade.css' %}"/>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    {{ header_row.render }}
    {{ content_row.render }}
    {{ footer_row.render }}
  </body>
</html>