<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/carousel_fade.css' %}"/>
    <script src="{% static 'libs/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <div class="container-fluid">
      {% load solo_tags %}
      {% get_solo 'walltv.HeaderRow' as header_row %}
      {% get_solo 'walltv.ContentRow' as content_row %}
      {% get_solo 'walltv.FooterRow' as footer_row %}
      {{ header_row.render }}
      {{ content_row.render }}
      {{ footer_row.render }}
    </div>
  </body>
</html>