* {
    box-sizing: border-box;
}
div {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}

body {
    background-color: #d33131;
}
body > div {
    margin: 0px;
}

.row {
    border: 1px solid red;
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
}

.row > div {
    border: 1px solid #3a3c4b;
    overflow-y: hidden;
    height: 100%;
}

.nopadding {
    padding: 0px;
}